html{
    height: 100%;
}

body{
    background-color: #a4508b;
    background-image: linear-gradient(326deg,rgb(121, 45, 129) 3.6%, rgb(36, 31, 98) 90.4%);
    height: 100%;
}

.div-one{
    display: inline-block;
}

.div-two{
    display: inline-block;
}

.div-three{
    display: inline-block;
}

.number{
    text-align: center;
    font-size:xx-large;
    display: inline-block;
}

p{
    font-family: 'Poppins', sans-serif;
}


.head-card-one{
    background-color:rgb(235, 202, 12);
    display: inline-block;
    width: 250px;
    text-align: center;
    border-radius: 0.3rem;
    text-transform: uppercase;
    
}
.card-one{
    background-color:rgb(20, 20, 59);
    width: 250px;
    height: 450px;
    text-align: center;
    border-radius: 0.3rem; 
    color: white;
}

.card-one > .card-one-button button{
    background: transparent;
    border: none;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-transform: capitalize;
    line-height: 4.5rem;
}



.head-card-two{
    background-color:rgb(25, 188, 155);
    display: inline-block;
    width: 250px;
    text-align: center;
    border-radius: 0.3rem;
    text-transform: uppercase;
}

.card-two{
    background-color:rgb(20, 20, 59);
    width: 250px;
    height: 450px;
    text-align: center;
    border-radius: 0.3rem; 
    color: white;
}

.card-two > .card-two-button button{
    background: transparent;
    border: none;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-transform: capitalize;
    line-height: 4.5rem;
}

.head-card-three{
    background-color: rgb(93, 105, 154);;
    display: inline-block;
    width: 250px;
    text-align: center;
    border-radius: 0.3rem;
    text-transform: uppercase;
}

.card-three{
    background-color:rgb(20, 20, 59);
    width: 250px;
    height: 450px;
    text-align: center;
    color: white;
}

.card-three > .card-three-button button{
    background: transparent;
    border: none;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-transform: capitalize;
    line-height: 4.5rem;
}

.git-code{
    margin: 0;
    position: absolute;
    top: 75%;
    left: 20%;
}

.git-code button{
    text-align: center;
    border-radius: 0.2rem;
    margin: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    line-height: 2.5rem;
}
